:root {
  // How many lines before ellipsis appear
  --rows: 2;
  --line-height: 19px;
}

// Custom "text-overflow: ellipsis" for any number of rows
.multiline-text-overflow {
  border: 1px solid black;
  display: block;
  overflow: hidden;
  position: relative;
  max-height: calc(var(--line-height) * var(--rows));
  word-wrap: break-word;
  -ms-word-break: break-all;

  // Ellipsis element
  &:after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
  }

  // Insert "whitespace padding" after written text to overwrite ellipsis element
  & span:after {
    content: '\0000a0';
    position: absolute;
    width: 1000px;
    z-index: 1;
    background-color: #fff;
  }
}

// For demo purpose only
.demo-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;

  > * {
    margin-bottom: 10px;
  }
}
